node_modules/
dist/
build/
.expo/
.turbo/
coverage/
*.db
*.db-journal
.env
.env.local
.DS_Store
cache/
artifacts/
typechain-types/
apps/api/data/
*.log
.vite/
.vercel/
packages/contracts/cache/
packages/contracts/artifacts/
packages/contracts/typechain-types/
*.tsbuildinfo
.vercel
